extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/deleteListScript.js" type="module" defer)
  script(src="/javascripts/deleteTaskScript.js" type="module" defer)

block content
  div(class='listDiv')
    form(action='/lists' method='post' class="addListForm")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="text" name="listName" class="addListName")
      button(class="addListButton") Add List
      ul
        if lists
          each list in lists
            li(id=`list-${list.id}`)
              a(href=`/lists/${list.id}` class="listName")=list.listName
              a(href=`/lists/${list.id}/edit` class="editListButton") ✏️
              button(class="deleteListButton" id=`${list.id}-delete`) 🗑️

  div(class='taskDiv')
    form(action=`/lists/${listId}` method="POST" )
      input(type="hidden" name="_csrf" value=csrfToken)
      if listId
        .addTask
          input(type="text" name="taskName" class="addTaskName")
          button(class="addTaskButton") Add Task
      else if isSearch
        H1(class="searchResults") Search Results
      else
        p(class="pleaseSelect") Please select a List to view your tasks.
      ul
        if tasks
          each task in tasks
            li(id=`task-${task.id}`)
              if task.taskStatus === true
                a(href=`/lists/${task.listId}/${task.id}` class="taskName complete")=task.taskName
                a(href=`/lists/${task.listId}/${task.id}/incomplete`, class="incompleteButton") ✅
                button(class="deleteTaskButton" id=`${listId}-${task.id}-delete`) 🗑️
              else
                a(href=`/lists/${task.listId}/${task.id}` class="taskName")=task.taskName
                a(href=`/lists/${task.listId}/${task.id}/edit`, class="editTaskButton") ✏️
                button(class="deleteTaskButton" id=`${listId}-${task.id}-delete`) 🗑️

  div(class='sidebar')
    if isEditList
      .editList
        form(action=`/lists/${listId}/edit` method="POST" )
          input(type="hidden" name="_csrf" value=csrfToken)
          .editListName
            label(for="listName") Name:
            input(type="text" name="listName" class="listName" value=listName)
          button(class="editListDetailsButton") Save

    else if isEditTask
      .editTask
        form(action=`/lists/${listId}/${taskId}/edit` method="POST" )
          input(type="hidden" name="_csrf" value=csrfToken)
          .editTaskName
            label(for="taskName") Name:
            input(type="text" name="taskName" class="taskName" value=task.taskName)
          .editTaskStatus
            label(for="taskName") Status:
            select(name="taskStatus", id="taskStatus") Status:
              option(value="true") Complete
              option(value="false" selected="selected") Incomplete
          .editTaskDate
            label(for="taskDate") Due Date:
            input(type="date" name="taskDate" class="taskDate")
          .editTaskNotes
            label(for="taskNotes") Notes:
            textarea(name="taskNotes" id="taskNotes")=task.taskNotes
          button(class="editTaskDetailsButton") Save

    else if isTaskDetails
      .taskDetails
        H1 #{task.taskName} Task Details
        if task.taskStatus === false
          p Status: Incomplete
          p Due Date: #{task.taskDate}
          p Notes: #{task.taskNotes}
        else
          p Status: Complete
          p Due Date: #{task.taskDate}
          p Notes: #{task.taskNotes}

    else if isListSummary
      .listSummary
        H1 #{listName} List Summary
        p Total: #{taskCount} tasks
        p Complete: #{completedCount} tasks
        p Incomplete: #{taskCount - completedCount} tasks

    else if isSearch

    else
      .listSummary
        H1 Total Summary
        p Total: #{taskCount} tasks
        p Complete: #{completedCount} tasks
        p Incomplete: #{taskCount - completedCount} tasks

//- append foot
//-   H2 Project Contributors
//-   .splashFooter
//-     a(href="https://github.com/Willy-Git-Man") William Grossman
//-     a(href="https://github.com/rogdylan98") Dylan Silva
//-     a(href="https://github.com/andrwtran") Andrew Tran
//-     a(href="https://github.com/zestefano") Zachery Estefano
