extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content


  div(class='listDiv')
    form(action='/lists' method='post')
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="text" class="listName")
      button(class="addListButton") Add
      //-     ul
      //- each list in lists
      //-   li=list.listName

  div(class='taskDiv')
    form(action=`/lists/${listId}/${taskId}` method="POST")
      input(type="text" name="taskCreate")
      button(class="addTaskButton") Add Task
      table(class="taskTable")
        thread(class="taskThread")

    //- ul
    //-   each task in userTasks
    //-     li=task.taskName
    //-     tbody
    //-         each task in tasks
    //-             tr
    //-                 td(class="taskData")=task.taskNotes

  div(class='sidebar')
